:root /* light-theme */
{
    --primary-color-light: #674c8a;
    --primary-color-mid: #5e4680;
    --primary-color-dark: #563e75;
    --secondary-color: #ccff57;

    --background-color: white;
    --background-color-light: rgb(237, 237, 237);
    --background-color-transparent: rgba(102, 102, 102, 0.9);

    --white-color: white;
    --black-color: black;
    --gray-color: gray;
    --gray-color-light: rgb(190, 190, 190);

    --text-color: black;
    --gray-text-color: #333333;
    --line-color: var(--primary-color-light);
    --icon-color: var(--secondary-color);
    --outline-hover-color: var(--secondary-color);
    --error-color: orange;
    --success-color: green;

    --border-radius: 5px;
    --transition-duration: 0.3s;
    --transition-duration-fast: 0.1s;
    /*horizontal-break-1: 1280px;*/
    /*horizontal-break-2: 600px;*/
}

:root.dark-theme {
    --primary-color-light: #563e75;
    --primary-color-mid: #5e4680;
    --primary-color-dark: #674c8a;

    --background-color: rgb(40, 40, 40);
    --background-color-light: rgb(60, 60, 60);
    --background-color-transparent: rgba(40, 40, 40, 0.85);

    --text-color: white;
    --gray-text-color: #bbbbbb;
    --line-color: var(--secondary-color);
    --icon-color: var(--primary-color-light);
    --outline-hover-color: white;

}

.theme-transition * {
    transition: background-color var(--transition-duration),
    border-color var(--transition-duration),
    color var(--transition-duration),
    fill var(--transition-duration),
    stroke var(--transition-duration);
}
