:root {
    --quad-margin: 0.25rem;
    --half-margin: 0.5rem;
    --full-margin: 1rem;
    --2x-margin: 2rem;
    --4x-margin: 4rem;
    --8x-margin: 8rem;
    --16x-margin: 16rem;

    --quad-padding: 0.25rem;
    --half-padding: 0.5rem;
    --full-padding: 1rem;
    --2x-padding: 2rem;
    --4x-padding: 4rem;
    --8x-padding: 8rem;
    --16x-padding: 16rem;

    --quad-gap: 0.25rem;
    --half-gap: 0.5rem;
    --full-gap: 1rem;
    --2x-gap: 2rem;
    --4x-gap: 4rem;
    --8x-gap: 8rem;
    --16x-gap: 16rem;
}
