:root {
    --transition-duration: 0.3s;
    --fast-transition-duration: 0.1s;
    --primary-color-light: #674c8a;
    --primary-color-mid: #5e4680;
    --primary-color-dark: #563e75;
    --secondary-color: #ccff57;
    --text-color: black;
    --lines-color: var(--primary-color-light);
    --icon-color: var(--secondary-color);
    --white-color: white;
    --light-gray-color: rgb(190, 190, 190);
    --gray-color: gray;
    --error-color: orange;
    --background-light-color: rgba(255, 255, 255, 0.7);
    --background-color: white;
    --border-radius: 5px;
    /*horizontal-break-1: 1280px;*/
    /*horizontal-break-2: 600px;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    transition: background-color var(--transition-duration);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(40, 40, 40);
        --background-light-color: rgba(40, 40, 40, 0.7);
        --primary-color-light: #563e75;
        --primary-color-mid: #5e4680;
        --primary-color-dark: #674c8a;
        --text-color: white;
        --lines-color: var(--secondary-color);
        --icon-color: var(--primary-color-light);
    }
}