:root {
    --primary-color-light: #674c8a;
    --primary-color-mid: #5e4680;
    --primary-color-dark: #563e75;
    --secondary-color: #ccff57;

    --background-color: white;
    --background-color-light: rgb(102, 102, 102);

    --white-color: white;
    --gray-color: gray;
    --gray-color-light: rgb(190, 190, 190);

    --text-color: black;
    --line-color: var(--primary-color-light);
    --icon-color: var(--secondary-color);
    --error-color: orange;
    --success-color: green;

    --border-radius: 5px;
    --transition-duration: 0.3s;
    --transition-duration-fast: 0.1s;
    /*horizontal-break-1: 1280px;*/
    /*horizontal-break-2: 600px;*/
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    transition: background-color var(--transition-duration);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-light: #563e75;
        --primary-color-mid: #5e4680;
        --primary-color-dark: #674c8a;

        --background-color: rgb(40, 40, 40);
        --background-color-light: rgb(60, 60, 60);

        --text-color: white;
        --line-color: var(--secondary-color);
        --icon-color: var(--primary-color-light);
    }
}
