html {
    scroll-behavior: smooth;
    --transition-duration: 0.3s;
    --fast-transition-duration: 0.1s;
    --lines-color: #ccff57;
    --white-color: white;
    --gray-color: gray;
    --light-gray-color: rgb(190, 190, 190);
    --border-radius: 5px;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: white;
    --primary-color: #674c8a;
    --secondary-color: #5e4680;
    --third-color: #563e75;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(40, 40, 40);
        --primary-color: #563e75;
        --secondary-color: #5e4680;
        --third-color: #674c8a;
        --text-color: white;
    }
}

body {
    background-color: var(--background-color);
    transition: background-color var(--transition-duration);
}

.my-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition-duration);
    padding: 1rem 2rem;
}

.my-button:hover {
    background-color: var(--secondary-color);
    box-shadow: 6px 6px var(--gray-color);
    transition: var(--transition-duration);
}

.my-button:active {
    background-color: var(--third-color);
    box-shadow: 2px 2px var(--light-gray-color);
    transform: translateY(4px) translateX(4px);
    transition: var(--fast-transition-duration);
}

.my-input-line {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;
    padding: 0.5rem;
}

.my-line-horizontal {
    background-color: var(--lines-color);
    height: 1px;
    margin: 0 auto;
}

.my-line-vertical {
    background-color: var(--lines-color);
    width: 1px;
    margin: auto 0;
}

@media (max-width: 1280px) {
    .my-button:hover {
        background-color: var(--primary-color);
        box-shadow: none;
        transition: var(--transition-duration);
    }

    .my-button:active {
        box-shadow: 2px 2px var(--light-gray-color);
        transition: var(--fast-transition-duration);
    }
}