:root {
  --transition-duration: 300ms;
}

:root{
  --color-test: white;
}

:root.dark-theme{
  --color-test: black;
}

.theme-transition * {
    transition:
        background-color var(--transition-duration),
        border-color var(--transition-duration),
        color var(--transition-duration),
        fill var(--transition-duration),
        stroke var(--transition-duration);
}
